html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: underline;
}

h1 span.divider, h2 span.divider, h3 span.divider, h4 span.divider, h5 span.divider, h6 span.divider {
    color: #aaaaaa;
}

h1 {
    color: black;
    font-size: 1.5em;
    line-height: 1.3em;
    padding: 10px 0 10px 0;
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
}

h2 a {
    color: black;
}

h3 {
    color: black;
    font-size: 1.1em;
    padding: 10px 0 10px 0;
}

.ui-wrap {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body #header {
    background-color: #006dbf;
    padding: 14px;
}

body #header a#logo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 0 20px 40px;
    color: white;
}

body #header form#api_selector {
    display: block;
    clear: none;
    float: right;
}

body #header form#api_selector .input {
    display: block;
    clear: none;
    float: left;
    margin: 0 10px 0 0;
}

body #header form#api_selector .input input {
    font-size: 0.9em;
    padding: 3px;
    margin: 0;
}

body #header form#api_selector .input input#input_baseUrl {
    width: 300px;
}

body #header form#api_selector .input input#input_apiKey {
    width: 200px;
}

body #header form#api_selector .input a#explore {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 8px;
    font-size: 0.9em;
    color: white;
    background-color: #0045bf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

body #header form#api_selector .input a#explore:hover {
    background-color: #547f00;
}

/*-------------------------------------------   MESSAGE    -----------------------------------------------------*/

#message-bar {
    min-height: 30px;
    text-align: center;
    padding-top: 10px;
}

.message-success {
    color: #89BF04;
}

.message-fail {
    color: #cc0000;
}


/*-------------------------------------------   FOOTER    -----------------------------------------------------*/


.footer{
    text-align: center;
}

.footer h4{
    color: #999;
}

.footer h4 span{
    font-variant: small-caps;
}

/*---------------------------------------------  STICK  -------------------------------------------------------*/

.stick {
    margin: 5px;
    padding: 15px;
    width: 250px;
}

.stick-error {
    border: 1px solid #E2365C;
    background-color: #F7C8D2;
    border-radius: 10px;
}

.stick-classic {
    border: 1px solid #A7CD10;
    background-color: #E1FAB8;
    border-radius: 10px;
}

