html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    background: #ebf3f9;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: underline;
}

h1 span.divider, h2 span.divider, h3 span.divider, h4 span.divider, h5 span.divider, h6 span.divider {
    color: #aaaaaa;
}

h1 {
    color: black;
    font-size: 1.5em;
    line-height: 1.3em;
    padding: 10px 0 10px 0;
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
}

h2 a {
    color: black;
}

h3 {
    color: black;
    font-size: 1.1em;
    padding: 10px 0 10px 0;
}

.ui-wrap {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

body #header {
    background-color: #006dbf;
    padding: 14px;
}

body #header a#logo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 0 20px 40px;
    color: white;
}

body #header form#api_selector {
    display: block;
    clear: none;
    float: right;
}

body #header form#api_selector .input {
    display: block;
    clear: none;
    float: left;
    margin: 0 10px 0 0;
}

body #header form#api_selector .input input {
    font-size: 0.9em;
    padding: 3px;
    margin: 0;
}

body #header form#api_selector .input input#input_baseUrl {
    width: 400px;
}

body #header form#api_selector .input input#input_apiKey {
    width: 250px;
}

body #header form#api_selector .input a#explore {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 8px;
    font-size: 0.9em;
    color: white;
    background-color: #0045bf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

body #header form#api_selector .input a#explore:hover {
    background-color: #547f00;
}

/*-------------------------------------------   MESSAGE    -----------------------------------------------------*/

#message-bar {
    min-height: 30px;
    text-align: center;
    padding-top: 10px;
}

.message-success {
    color: #89BF04;
}

.message-fail {
    color: #cc0000;
}


/*-------------------------------------------   FOOTER    -----------------------------------------------------*/


.footer{
    text-align: center;
}

.footer h4{
    color: #999;
}

.footer h4 span{
    font-variant: small-caps;
}

/*---------------------------------------------  STICK  -------------------------------------------------------*/

.stick {
    margin: 5px;
    padding: 15px;
    width: 250px;
}

.stick-error {
    border: 1px solid #E2365C;
    background-color: #F7C8D2;
    border-radius: 10px;
}

.stick-classic {
    border: 1px solid #A7CD10;
    background-color: #E1FAB8;
    border-radius: 10px;
}


/*---------------------------------------------  TABS-LEFT  -------------------------------------------------------*/

.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 100%;
    background: rgba(0, 165, 255, 0.41);
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #0083e3;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
    height: 100%;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 49em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
    background: #ffffff;
}



/*---------------------------------------------  INFO-PANEL  -------------------------------------------------------*/


a.infoButton:focus {
    outline: none;
}

.infoPanel h3 {
    font-size:14px;
    font-family:verdana, helvetica, arial, sans-serif;
    letter-spacing:-1px;
    color:#fff;
    font-weight: 700;
    text-transform:uppercase;
    margin:0;
    padding:5px 0 5px 0;
}

.infoPanel p {
    color:#cccccc;
    line-height:22px;
    padding: 0 0 10px;
    margin: 10px 0 10px 0;
}

.infoPanel {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    background: #0083e3;
    border:1px solid #111111;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    width: 330px;
    height: auto;
    padding: 30px 30px 30px 130px;
    filter: alpha(opacity=85);
    opacity: .85;
}

a.infoButton{
    position: absolute;
    text-decoration: none;
    top: 70px; left: 0;
    font-size: 16px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#fff;
    padding: 20px 40px 20px 15px;
    font-weight: 700;
    background: #006dbf;
    border:1px solid #444444;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    display: block;
}

a.infoButton:hover{
    position: absolute;
    text-decoration: none;
    top: 70px; left: 0;
    font-size: 16px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#000;
    padding: 20px 40px 20px 20px;
    font-weight: 700;
    background:#e6e6e6;
    border:1px solid #444444;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    display: block;
}