
body div#ui-container div#resources div.options {
    font-size: 0.7em;
    text-align: right;

}

body div#ui-container div#resources div.raw {
    display: none;
    height: 700px;
    overflow-y: auto;
    overflow-x: auto;
}

body div#ui-container div#resources div.raw pre {
    white-space: pre-wrap;
}